nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
.idea/Walleye.iml
.idea/dictionaries/jmayhak.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/runConfigurations/AllTests.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml